@charset "utf-8";
/* 你自己的样式 */
.dataTables_info {
	    clear: both;
	    float: left;
	    padding-top: 11px;
	    font-size: 15px;
	    color: #666;
}
.dataTables_laypage {
    float: right;
    padding-top: 10px;
    text-align: right;
}