<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cccuu.project.mapper.area.AreaMapper" >
    <insert id="addMulti" parameterType="java.util.List">
        insert into t_area (id,area_name,fk_id, sort, is_parent,level, spell,comment,is_import,import_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.areaName},#{item.fkId},#{item.sort},#{item.isParent},#{item.level},#{item.spell},#{item.comment},#{item.isImport},#{item.importTime}
            )
        </foreach>
    </insert>
    <update id="updateAreaMerit">
        update t_area set comment=null
    </update>
</mapper>